html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

img{
    height: 340px;
    width: 340px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 4px 4px 8px #2a2a2a ;
}

/*------------------------------------------------------ Nav-Bar ---------------------------------------------------------------*/
.nav-bar{
    display: flex;
    justify-items: center;
    text-align: center;
    align-items: center;
    height: 80px;
    margin-top: 80px;
    font-size: 24pt;
}
.nav-bar a{color:#e4bc5f;}
.nav-bar img{height: 120px; width: 120px;margin: 0; box-shadow: 0px 0px 0px;}
.c-link{
    position: absolute;
    right: 200px;}
/*------------------------------------------------------ Nav-Bar END ---------------------------------------------------------------*/

.empty{
    height: 5px;
}
.title{
    border-bottom: #ffffff 2px solid;
    height: 50px;
    text-align: center;
    font-size: 40pt;
    padding: 55px;
    /* padding-top: 20px; */
    color: white;
    margin-bottom: 10px;
    margin-top: 150px;
}

.parent-R{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(1, 380px);
    grid-template-rows: repeat(2, 350px);
    padding: 20px;
    background-color: #202020;
    height: 580px;
    margin-bottom: 50px;
}
.parent-Q{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, 380px);
    grid-template-rows: repeat(2, 350px);
    padding: 20px;
    background-color: #202020;
    height: 580px;
    margin-bottom: 50px;
}

.parent-D{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(5, 380px);
    grid-template-rows: repeat(2, 350px);
    padding-top: 50px;
    background-color: #202020;
    height: 580px;
    /* background: url("../Photos/Backgrounds/D-Lion.png") no-repeat top; */
    margin-bottom: 50px;

}

.parent{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(2, 350px);
    padding-top: 50px;
    background-color: #202020;
    height: 580px;
    margin-bottom: 50px;
}
/* #z-series{
    background: url("../Photos/Backgrounds/Black-blur.png") no-repeat center;
} */

/* #fog{
    background: url("../Photos/Backgrounds/YlR6ec.jpg") no-repeat center;
} */
/* #gpne{
    background-image: linear-gradient(to bottom, #051937, #08446a, #00749c, #02a9ca, #38e0f0);   
}
#lenses{
    background-image: linear-gradient(to bottom, #ffffff, #beb9c0, #857880, #523b42, #230101);
} */

.info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 55px);
    justify-content: center;
    width: 250px;
}

.child:first-child{
    grid-column: 1 / 3; 
    border: #0A0C0D solid 0px;
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 24pt;
    height: 40px;
    text-align: center;
    font-weight: bold;
}
.child{
    text-align: center;
    border: #ffffff solid 1px;
    /* border-radius: 0px 0px 10px 10px; */
    /* background-color: rgb(53, 53, 53); */
    color: rgb(255, 255, 255);
    font-size: 20pt;
    height: 40px;
    padding-top: 5px;
    justify-content: center;
}

#lenses .child{
    height: 65px;
    font-size: 18pt;
    border: #ffffff solid 1px;
    font-weight: 400;
}
#lenses .child:first-child{
    font-size: 24pt;
    height: 42px;
    font-weight: 700;
}



/*------------------------------------------------------ Footer ---------------------------------------------------------------*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 150px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #202020;
}

.f-title{
    color: white;
    font-size: 20pt;
}
.link{
    display: flex;
    align-items: center;
    color: white;
    font-size: 12pt;
    margin: 5px 0;
    padding: 2px;
    transition: .3s ease-in-out;

}
.link:hover{
    /* text-decoration: underline;  */
    background-color: #434343;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.c-icon{
    width: 30px;
    height: 30px;
    margin: 0px;
    margin-right: 10px;
}
#explore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#social{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    justify-items: center
}

/*------------------------------------------------------ Footer END ---------------------------------------------------------------*/
